*.tfstate
*.tfstate.backup
terraform.tfstate.*
.terraform.tfstate.*

.terraform.lock.hcl

**/.terraform/

**/output/

.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

crash.log
crash.*.log

*.tfplan
*.plan